<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajaxpost</title>
    <script src="/static/js/jquery-1.8.3.min.js"></script>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    姓名: <input type="text" id="username" name="username"><br>
    密码: <input type="password" id="password" name="password"><br>
    <input type="button" id="check_value" value="提交">
    <p id="text"></p>
</form>

<script>
    $("#username").blur(function () {
        username = $("#username").val();
        url = '/checkusername/?username='+username;
        $.ajax({
            url:url,
            type:'get',
            data:'',
            success:function (data) {
                $("#text").text(data.content);
            },
            error:function (error) {
                $('#text').text(error)
            }
        })
    });

    $("#check_value").click(function () {
        username = $("#username").val();
        password = $("#password").val();
        send_data = {
            "username":username,
            "password":password,
            "csrfmiddlewaretoken":"{{ csrf_token }} "
        };
        console.log(send_data);
        url = "/ajaxpost_data/";
        $.ajax({
            url:url,
            type:'post',
            data:send_data,
            success:function (data) {
                console.log(data)
            },
            error:function (error) {
                console.log(error);
            }

        })
    })
</script>
</body>
</html>